$montserrat: 'Montserrat', sans-serif;
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;

$black: #000;
$white: #fff;
$gray: #aaa;
$dark: #2b2b2b;
$inverted: #d4d4d4;

$tablet: "screen and (min-width: 400px) and (max-width: 1050px)";
$mobile: "screen and (max-width: 400px)";

$dark-mode: "(prefers-color-scheme: dark)";
$light-mode: "(prefers-color-scheme: light)";

html,body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #86a3e7, #73abea, #61b3e9, #46bae5, #33bfdb, #33c4cf, #46c7bf);
    font-family: $montserrat;
    margin: 0;
}

.chart-container{
    width: 80%;
    height: 480px;
    margin: 0 auto;
}

.alerts{
    width: 80%;
    height: 480px;
    margin: 0 auto;
}