$montserrat: 'Montserrat', sans-serif;
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;

$black: #000;
$white: #fff;
$gray: #aaa;
$dark: #2b2b2b;
$inverted: #d4d4d4;

$tablet: "screen and (min-width: 400px) and (max-width: 1050px)";
$mobile: "screen and (max-width: 400px)";

$dark-mode: "(prefers-color-scheme: dark)";
$light-mode: "(prefers-color-scheme: light)";

html,body {
    width: 100%;
    height: 100%;
    color: $white;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #86a3e7, #73abea, #61b3e9, #46bae5, #33bfdb, #33c4cf, #46c7bf);
    font-family: $montserrat;
    margin: 0;
}

.content {
    width: 1280px;
    height: 720px;
    margin: auto;
}

.header {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 8.33%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5%;

    h1 a {
        text-decoration: none;
        color: $white;
        display: inline-block;
        font-size: 1em;
        font-weight: 900;
        position: relative;
        opacity: 1;
        -webkit-transition: opacity .2s ease;
        -o-transition: opacity .2s ease;
        transition: opacity .2s ease;
    }

    h1 a:hover {
        text-decoration: none;
        opacity: 0.6;
    }

    nav {
        display: block;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-left: 20px;
                a {
                    text-decoration: none;
                    letter-spacing: 2px;
                    color: $white;
                    transition: color .2s ease;
                    padding: 3px 0;
                    margin-bottom: 10px;
                    position: relative;
                    display: inline-block;
                    opacity: 1;
                    -webkit-transition: opacity .2s ease;
                    -o-transition: opacity .2s ease;
                    transition: opacity .2s ease;
                }

                a:hover {
                    text-decoration: none;
                    opacity: 0.6;
                }
            }
        }
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

.wrapper { 
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.chart-container {
    width: 80%;
    margin: 0 auto;
}

.alerts {
    margin: 25px 0;
    text-align: center;
}